DJANGO_SECRET_KEY=troque-esta-chave
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
GOOGLE_SHEETS_API_KEY=coloque-sua-chave-aqui
LEC_CURRENT_SHEET_ID=1Y21y5IXRhGMErPQW5xrtOB0oUymDZ4iWTehlSueNvb4
DASHBOARD_USERNAME=admin
DASHBOARD_PASSWORD=troque-esta-senha
